
body{
    font-family: sans-serif;
    margin: 0;
}

.back-img-div{
    margin-bottom: 0;
    background: silver;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("images/jer-night-david.jpg");
    color: white;
    text-shadow: 0px 0px 5px black;
}

#title-back-img{
    background: linear-gradient(skyblue,lightpink);
    padding: 5px 10px;
    border-radius: 8px;
}


.main{
    height: 260px;
    padding: 20px;
    margin-top: 0;
    text-align: center;
    background:linear-gradient(skyblue,rgb(246, 210, 214));
}
.main h2{
    margin-top: 0;
}

.boxex-box{
    display: flex;
    justify-content: space-around;
    
}

.box1{
    width: 30%;
    height: 220px;
}

.logo{
    width: 100px;
    height: 80px;  
    border-radius: 70%;
    margin-bottom: 10px;
}



.footer{
    background: rgb(192, 255, 233);
}

#sam{
    width: 200px;
}
.card{
    color: green;
    margin: 20px;
    padding: 10px;
display: flex;
justify-content: center;
width: 500px;
margin: 0 auto;
background: white;
border-bottom: 4px solid lightpink;
background: linear-gradient(white,rgb(192, 255, 233)    );
}

.text{
    margin-left: 8px;
    text-align: center;
}